<router-outlet></router-outlet>
<h1>CURSOS</h1>
<div class="container">
    <table class="table">
        <thead class="thead-light text-center">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Duración</th>
                <th scope="col">Nivel</th>
            </tr>
        </thead>

        <tr class="text-center" *ngFor="let lista of listaCursos.leer()">
            <td>{{lista.idCurso}}</td>
            <td>{{lista.nombre}}</td>
            <td>{{lista.duracion}}</td>
            <td>{{lista.nivel}}</td>
            <td><button routerLink="modificar" [queryParams]="{id:lista.idCurso,nombre:lista.nombre,duracion:lista.duracion,nivel:lista.nivel}">Modificar</button></td>
        </tr>
    </table>
</div>
<button routerLink="alta">Alta</button>
