<h1>Queen</h1>
<p>Banda británica de rock formada den 1970 en Londres</p>

<img src="../../assets/imgs/grupo.jpg" alt="" srcset="">

<h3>Integrantes del grupo</h3>

<ul>
    <li>Freddie Mercury</li>
    <li>Bryan May</li>
    <li>Jhon Deason</li>
    <li>Roger Taylor</li>
</ul>

<h3>Discografía</h3>

<table>
    <caption>Grandes éxitos de Queen</caption>
    <tr>
        <th>Año</th>
        <th>Disco</th>
    </tr>
    <tr>
        <td>1975</td>
        <td>A Night at the Opera</td>
    </tr>
    <tr>
        <td>1986</td>
        <td>A Kind of Magic</td>
    </tr>
    <tr>
        <td>1989</td>
        <td>The Miracle</td>
    </tr>
    <tr>
        <td id="ultimo" colspan="2">"A kinf of Magic" fue el álbum más exitoso.</td>
    </tr>
</table>

<h3>Sitio web oficial</h3>
<a href="http://www.queenonline.com">www.queenonline.com</a>

