<p><a routerLink="interpolacion">Interpolación</a></p>
<p><a routerLink="one-way-binding">One-Way-Binding</a></p>
<p><a routerLink="evento">Evento</a></p>
<p><a routerLink="two-way-binding">Two-Way-Binding</a></p>
<p><a routerLink="servicio">Servicio</a></p>
<p><a routerLink="directivas">Directivas</a></p>
<p><a routerLink="pasar_id">Pasar un parámetro</a></p>
<p><a routerLink="pasar_parametros">Pasar dos parámetros</a></p>
<router-outlet></router-outlet>
<app-padre1>
    <app-hijo1></app-hijo1>
</app-padre1>
<app-padre2>
    <app-hijo2></app-hijo2>
</app-padre2>